body, html{
    margin:0;
    padding:0;
}
#org {
  margin: 0 auto;
  align: center;
  text-align: center;
  padding: 10px;

}

#svg {
  display: block;
  margin: auto;
}

#icon_table_colab {
  font-size: 30px;
  position: absolute;
  z-index: -1;
  color: black;
  text-decoration: none;
  right: 100px;
  top: 100px;
}

.cicle-org {
  fill: #69b3a2;
}

.text-nodeGroups {
  background-color: black;
  font-size: 18px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

/* org-style */
/* FontAwesome for working BootSnippet :> */
.section-title {
  color: #69b3a2;
  margin-bottom: 50px;
  text-align: center;
}
.card-deck{
  justify-content: center;
}
.card {
  min-height: 300px;
  width: 300px;
  border: 2px solid gray;
  border-radius: 15%;
  margin: 0 auto;
  position:relative;
  align:center;
}

.card-text{
  text-align: left;
}
.card-img {
  width: 100px!important;
  height: 100px!important;
  border-radius: 50%;
  align-self: center;
  padding: 4px;
  margin-top: 5px;
}

.person_detail {
  text-align: center;
  margin: 5px;
}
